@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: #087cce;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

@layer base {
  .prose > p {
    @apply mb-4;
  }

  /* .prose > img {
    @apply w-full;
    @apply rounded-md;
    @apply object-cover;
    @apply mb-8;
  } */

  
}
